<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <style type="text/css">
    textarea.html-text-box {background-color:ffffff;background-repeat:no-repeat;background-attachment:fixed;border-width:1;border-style:solid;border-color:cccccc;font-family:Arial;font-size:10pt;color:000000;}
    input.html-text-box {background-color:ffffff;font-family:Arial;font-size:10pt;color:000000;}
    </style>
    <form method="post" action="http://localhost:8777/qna">
        <textarea  name="question" cols="100" rows="2" class="html-text-box">{% if question is not none %}{{ question }}{% endif %}</textarea >
        </br>
        <button type="submit" class="btn btn-primary float-right">Run</button>
        </br></br>
        <textarea name="ans" cols="100" rows="10" class="html-text-box">{% if ans is not none %}{{ ans }}{% endif %}</textarea>
        
    </form>
</body>

</html>