<!DOCTYPE html>
<html>
<head>
    <title>QA System</title>
    <link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" type="text/CSS" href="style.css">
</head>
<body>

<div class="container">
    <form method="post" action="http://localhost:8777/qna">
        <div>
        <label><strong>Your Question</strong></label>
        </div>
        <textarea  name="question" cols="100" rows="2" class="html-text-box">{% if question is not none %}{{ question }}{% endif %}</textarea >
        </br>
        <button id="submit" type="submit" >Search</button>
        <div>
            <label><strong>Answer</strong></label>
        </div>
        <textarea name="ans" cols="100" rows="5">{% if ans is not none %}{{ ans }}{% endif %}</textarea>
    </form>
</div>
</body>

</html>